@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  box-sizing: border-box !important;
}

*,
*:before,
*:after {
  box-sizing: inherit !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background-color: #bdbdbd;
}

nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}

.input-field label {
  color: #000000;
  padding: 0 5px !important;
}

.input-field input[type=text] {
  padding-left: 5px;
}

.input-field input[type=text]:focus+label {
  color: #000000;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #000000;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid #000000;
  color: #000000;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: 0 1px 0 0 #000000;
  box-shadow: 0 1px 0 0 #000000;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: #000000;
}

.container-form {
  padding: 3rem 0 1px 0;
}

.message {
  text-align: center;
  font-size: 2rem;
}

.error {
  padding: 1rem !important;
  color: white;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
}

.card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
}

.card-panel p {
  text-align: center;
  font-size: 1.4rem;
}

.temperature {
  font-size: 2rem !important;
  margin: 0;
}

.temperature span {
  font-size: 1rem !important;
  vertical-align: super;
}

.error {
  padding: 1.3rem !important;
  text-align: center !important;
  color: #FFF !important;
}

img {
  display: block !important;
  margin: auto !important;
}